<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>测试机器人配置文件</comment>
	<entry key="loop.period">5000</entry>

	<!-- <entry key="server.url">http://127.0.0.1:8080/douwan3/main</entry> 
		<entry key="server.url">http://211.154.137.11/douwan3/main</entry> <entry 
		key="server.url">http://116.204.67.183/douwan3/main</entry> <entry key="server.url">http://dw3.tisgame.cn/douwan3/main</entry> -->
	<entry key="server.url">http://dw-web.douwan.cn/douwan3/main</entry>

	<!-- <entry key="user.id">10081</entry> <entry key="user.password">160414</entry> -->

	<entry key="user.id">10001</entry>
	<entry key="user.password">986221</entry>

	<entry key="user.platform">MTK</entry>
	<entry key="user.kkPlatform">1.0</entry>
	<entry key="user.lcdSize">240x320</entry>
	<entry key="user.clientId">2346</entry>
	<entry key="user.lsn">21312</entry>
	<entry key="user.imsi">1344232323</entry>
	<entry key="user.cell">3783</entry>
	<entry key="user.lac">10173</entry>
	<entry key="user.mcc">460</entry>
	<entry key="user.mnc">0</entry>
	<entry key="user.ver">0</entry>
</properties>